/* Mengatur semua elemen */
* {
    box-sizing: border-box;
}

/* Tampilan halaman */
body {
    font-family: Arial, sans-serif;
    background-color: #eaf4ff;
    margin: 0;
    color: #333;
}


/* Kartu utama */
.container {
    width: 600px;
    max-width: 90%;

    margin: 60px auto;
    padding: 40px;

    background-color: white;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);

    text-align: center;
}


/* Foto */
.foto {
    width: 150px;
    height: 150px;

    object-fit: cover;

    border-radius: 50%;

    border: 5px solid #2563eb;

    margin-bottom: 15px;
}


/* Nama */
h1 {
    color: #2563eb;
    margin-bottom: 5px;
}


/* Status */
h2 {
    color: #555;
    font-size: 20px;
    margin-top: 5px;
}


/* Deskripsi */
.deskripsi {
    color: #666;
    line-height: 1.7;

    margin: 20px 0 30px;
}


/* Judul bagian */
h3 {
    color: #2563eb;
    margin-top: 30px;
}


/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;

    margin-top: 15px;
}


th,
td {
    border: 1px solid #ddd;

    padding: 12px;

    text-align: left;
}


th {
    background-color: #2563eb;
    color: white;
}


tr:nth-child(even) {
    background-color: #f1f5f9;
}


tr:hover {
    background-color: #dbeafe;
}


.button:hover {
    background-color: #1d4ed8;
}
.kontak {
    text-align: center;

    padding: 40px;

    background-color: #2563eb;

    color: white;
}


.kontak h2 {
    color: white;
}


.kontak p {
    margin: 8px;
}